.Header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 80px;
    background-color: #ffffff;
}

.headeR {
    width: 1360px;
    height: 80px;
    background-color: #ffffff;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    line-height: 80px;
    border-bottom: 0.5px solid #eeeef0;
}

.header-first {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 630px;
}

.brand-name {
    padding: 0;
    margin: 8px 0 8px 4px;
    width: 138px;
    height: 24px;
}
.header-container {
    width: 448px;
    height: 51px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
  .header-item{
    text-decoration: none;
    height: 46px;
    font-weight: 500;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: black;
    font-size: 15px;
  }
  
  .header-item-1{
    width: 91px;
    height: 36px;
    font-weight: 500;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 15px;
    background: #4AD493;
    border-radius: 18px;
    color: black;
    text-decoration: none;
  }
  .singUpBtn {
    width: 112px;
    height: 46px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #4AD493;
    border-radius: 6px;
    color: black;
  }


.header-item-3{
  width: 416px;
  height: 46px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 11px;
  background: #4AD493;
  border-radius: 6px;
  color: black;
}

.header-container-2 {
    width: 560px;
    height: 51px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

  hr {
    height: 3px;
    background: #000;
  }

  .form-control {
    box-sizing: border-box;
    margin: 0;
    font-family: inherit;
    overflow: visible;
    font-weight: 400;
    border: 1px solid #d5d5d5;
    border-radius: 6px;
    display: inline-block;
    vertical-align: middle;
    background: #eeeef0;
    border-color: #eeeef0;
    font-size: 15px;
    line-height: 18px;
    color: #828282;
    width: 100%;
    height: 46px;
    min-width: 0;
    padding: 14px 14px 14px 53px;
  }

.header-item-3 ::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  position: absolute;
  left: 24px;
  top: 16px;
  z-index: 11;
}